<% if !product.images.empty? %>
<%= javascript_include_tag 'nf.lightbox.js' %>
<%= stylesheet_link_tag 'nf.lightbox.css' %>
<script type="text/javascript">
$(function() {
  $('#product-images a').lightBox();
});
</script>
<div id="gallery">
  <ul>
    <% is_first = true
    product.images.each do |i|
	    if is_first
	      is_first = false
	  	  next
      end -%>
    <li><%= link_to_image(i.attachment, product.name) %></li>
    <% end -%>
  </ul>
  <% if @product.has_variants? 
    has_checked = false %>
    <ul id="variant-thumbnails" class="thumbnails">
      <% product.variants.each do |v|
          checked = !has_checked && (v.available?)
     		  has_checked = true if checked
          
          if checked 
            v.images.each do |i| %>  
              <li><%= link_to_image(i.attachment, product.name) %></li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
  <% end %>  
</div>
  <script type="text/javascript" charset="utf-8">
 
    var images = new Array();
    <% product.variants.each do |v| %>
      images[<%= v.id.to_s %>] = new Array();
      <% v.images.each_with_index do |image, i| %>
        images[<%= v.id.to_s %>][<%= i %>] = '<%= image.attachment.url(:mini) %>';
      <% end %>
    <% end %>
 
    var add_image_handlers = function(){
      $("#main-image").data('selectedThumb', $('#main-image img').attr('src'));
      $('ul.thumbnails li').eq(0).addClass('selected');
      $('ul.thumbnails li a').click(function() {
        $("#main-image").data('selectedThumb', $(this).attr('href'));
        $('ul.thumbnails li').removeClass('selected');
        $(this).parent('li').addClass('selected');
        return false;
      }).hover(
        function() {
          $('#main-image img').attr('src', $(this).attr('href').replace('mini', 'product'));
        },
        function() {
          $('#main-image img').attr('src', $("#main-image").data('selectedThumb'));
        }
      );
    };
 
    jQuery(document).ready(function(){ add_image_handlers(); });
  </script>
<% end %>
