<% if !product.images.empty? %>
<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    var images = new Array();
    <% @variants.each do |v| %>
      images[<%= v.id.to_s %>] = new Array();
      <% v.images.each_with_index do |image, i| %>
        images[<%= v.id.to_s %>][<%= i %>] = <%= link_to(image_tag(image.attachment.url(:mini)), image.attachment.url(:product)).to_json %>;
      <% end %>
    <% end %>
    $(function() {
      $('#product-images a').lightBox();
    });
  </script>
  <%= javascript_include_tag 'nf.lightbox.js' %>
  <%= stylesheet_link_tag 'nf.lightbox.css' %>
<% end -%>

<div id="gallery">
  <ul>
    <% is_first = true
    product.images.each do |i|
	    if is_first
	      is_first = false
	  	  next
      end -%>
    <li><%= link_to_image(i.attachment, product.name) %></li>
    <% end -%>
  </ul>
  <% if @product.has_variants? %>
    <ul id="variant-thumbnails" class="thumbnails">
      <% (@variants || product.variants).select { |v| v.available? }.collect { |v| v.images }.flatten.uniq.each do |i| %>
          <li><%= link_to_image(i.attachment, product.name) %></li>
      <% end %>
    </ul>
  <% end %>  
</div>
<% end %>
